[mysqld]
socket=/var/run/mysqld/mysqld.sock
max_allowed_packet = 128M
innodb_buffer_pool_size = 2G
innodb_data_file_path = ibdata1:10M:autoextend
tmp_table_size = 10G
max_heap_table_size = 10G
sql_mode=""
innodb_use_native_aio=0

